.body {
    display: flex;
    width: 100%;
    height: 100vh;
    font-family: var(--primary-font);
}

.banner {
    background-color: var(--backgrounnd-secondary-color);
    flex: 1;
    height: 100%;
    padding: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form {
    flex: 1;
    padding: 24rem 12rem;
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.formHeader > p {
    font-size: clamp(1rem, 4vw, 1.4rem);
    color: var(--text-tertiary-color);
    margin-top: .4rem;
}

.formBody {
    margin-top: 7.2rem;
}


.inputs {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.button {
    max-width: fit-content;
    padding: .8rem 1.6rem;
    border-radius: .4rem;
    background-color: var(--primary-color);
    color: var(--surface);
    border: 0;
    font-size: medium;
    transition: all 75ms ease;
    cursor: pointer;
}

.button:hover {
    filter: brightness(90%);
}

.bannerMain {
    color: var(--surface);
    padding-right: 24rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.bannerMain > h1 {
    font-size: clamp(3.2rem, 4vw, 4.6rem);
}

.bannerMain > p {
    font-size: clamp(1.2rem, 4vw, 1.6rem);
    color: var(--text-tertiary-color);
}

.footer {
    color: var(--text-tertiary-color);
    font-size: clamp(.6rem, 2vw, 1.2rem);
}